<mat-toolbar class="main-background" *ngIf="topic!=null">
    <mat-toolbar-row class="subject-row">
        {{topic.subject}}
        <div class="left-container date">
            {{topic.publishDate.toLocaleString()}}
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="description-row">
        <img class="avatar" src="assets/default_avatar.png">
        <span>{{topic.creator.username}}</span>

        <div class="left-container">
            <button mat-raised-button color="primary" class="new-topic-button" (click)="newResponse()" [disabled]="!userService.connected">תגובה
                חדשה</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card *ngIf="topic!=null" class="main-background">
    <mat-card-content>
        <div [innerHTML]="topic.body"></div>
    </mat-card-content>
</mat-card>

<mat-divider class="divider"></mat-divider>

<div *ngIf="topic!=null">
    <div *ngFor="let response of responseService.responses[topic.id]">
        <mat-toolbar class="response-creator">
            <mat-toolbar-row class="response-creator">
                <img class="response-avatar" src="assets/default_avatar.png">
                <span>{{response.creator.username}}</span>
                <div class="left-container date">
                    {{topic.publishDate.toLocaleString()}}
                </div>
            </mat-toolbar-row>
        </mat-toolbar>

        <mat-card class="main-background">
            <mat-card-content>
                <div [innerHTML]="response.body"></div>
            </mat-card-content>
        </mat-card>

        <mat-divider class="divider"></mat-divider>
    </div>
</div>