<div class="subject-box">
    קטגוריה חדשה
</div>

<form>
    <mat-form-field [formGroup]="form">
        <mat-label>שם קטגוריה</mat-label>
        <input matInput [errorStateMatcher]="matcher" formControlName="name">
        <mat-error *ngIf="form.controls['name'].invalid">
            נא למלא שם קטגוריה.
        </mat-error>
    </mat-form-field>
    <button mat-button cdkFocusInitial (click)="create()" [disabled]="!form.valid">יצירה</button>
    <div *ngIf="!failedRegistered" class="warning">
        כשל ביצירת הקטגוריה.
    </div>
</form>