<button mat-raised-button color="primary" 
class="new-topic-button" (click)="newTopic()"
[disabled]="!userService.connected">צור נושא חדש</button>

<mat-toolbar *ngIf="forum!=null">
    <mat-toolbar-row class="forum-row">
        {{forum.name}}
    </mat-toolbar-row>
    <mat-toolbar-row class="description-row">
        {{forum.description}}
    </mat-toolbar-row>
</mat-toolbar>

<table *ngIf="forum!=null" mat-table [dataSource]="dataSource"
 class="mat-elevation-z8 topics-table" [trackBy]="trackById">
    <ng-container matColumnDef="creator">
        <th mat-header-cell *matHeaderCellDef> יוצר </th>
        <td mat-cell *matCellDef="let element"> {{element.creator.username}} </td>
    </ng-container>
    <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef> נושא </th>
        <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
    </ng-container>
    <ng-container matColumnDef="publishdate">
        <th mat-header-cell *matHeaderCellDef> תאריך יצירה </th>
        <td mat-cell *matCellDef="let element"> {{element.publishDate}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="clickable" (click)="chooseTopic(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>