<mat-toolbar class="row-container submodule-row">
    <mat-toolbar-row class="submodule-row">
        <span *ngIf="!usersService.connected">
        <button mat-button (click)="register()">הרשם</button>
        <button mat-button (click)="login()">התחבר</button>
      </span>
        <span *ngIf="usersService.connected">
        <button mat-button (click)="conversations()">שיחות אישיות</button>
        <button mat-button (click)="disconnect()">התנתק</button>
      </span>
    </mat-toolbar-row>
</mat-toolbar>