.category-card {
    width: 28%;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: rgb(49, 49, 49);
    vertical-align: top;
}

.nowrap {
    white-space: nowrap;
}

.category-title {
    justify-content: center;
}

.forum-logo {
    height: 15px;
    width: 15px;
    vertical-align: middle;
}

.clickable {
    cursor: pointer;
}

.add-content {
    text-align: center;
    height: 120px;
    vertical-align: middle;
}

.add-category-icon {
    font-size: 80px;
    height: 80px;
    width: 80px;
    margin-top: 19px !important;
    cursor: pointer;
    color: rgb(0, 235, 0);
}

.add-forum-container {
    text-align: center;
}

.add-forum {
    font-size: 40px;
    height: 40px;
    width: 40px;
    color: rgb(0, 235, 0);
    cursor: pointer;
}

.remove-forum-icon {
    color: red;
    vertical-align: middle;
    cursor: pointer;
}