.category-card {
    width: 28%;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: rgb(49, 49, 49);
    vertical-align: top;
}

.nowrap {
    white-space: nowrap;
}

.category-title {
    justify-content: center;
}

.forum-logo {
    height: 15px;
    width: 15px;
    vertical-align: bottom;
}

.clickable {
    cursor: pointer;
}